.project-gallery {
	display: block;
	position: relative;
}

.project-gallery-slider {
	margin: 10px 10px;
}
.project-gallery-nav {
	margin: 0 10px 10px;
}


/* Structure of slider images */
.project-gallery .project-slide-item {
	min-width: 60%;
	text-align: center;
}

.project-gallery .project-slide-item a {
	display: block;
}

.project-gallery .project-slide-item img {
	display: block;
	margin: 0 auto;

	width: auto;
	height: auto;
	max-height: 400px;
	max-width: 100%;
	min-width: 0;
}

/* Slider image dots */
.project-gallery-slider .flickity-page-dots {
	bottom: 15px;
}

.project-gallery-slider .flickity-page-dots .dot {
	background: #fff;
}

/* Structure of slider nav */
.project-gallery-nav .project-nav-item {
	width: 100px;
	padding: 3px;

	background: #fff;
	border-radius: 2px;
}


.project-gallery-nav .project-nav-item a {
	display: block;
}

.project-gallery-nav .project-nav-item img {
	width: 100%;
	height: auto;

	border-radius: 2px;
	overflow: hidden;
}

/* Slider Nav Opacity Fade */
.project-gallery-nav .project-nav-item {
	opacity: 0.6;
	transition: opacity 0.3s;
}

.project-gallery .project-nav-item.is-selected {
	opacity: 1;
}

/* fade in image when loaded */
.project-gallery a {
	display: block;
}

.project-gallery img {
	display: block;
	transition: opacity 0.4s;
	opacity: 0;

	max-width: none;
}

.project-gallery img.flickity-lazyloaded,
.project-gallery img.flickity-lazyerror {
	opacity: 1;
}

/* Responsive */


@media ( max-width: 1080px ) {
	.project-gallery .project-slide-item {
		width: 100%;
	}

	.project-gallery-slider .flickity-page-dots {
		display: none;
	}

	.project-gallery-nav .project-nav-item {
		width: 75px;
		padding: 2px;
	}

	.flickity-prev-next-button {
		display: none;
	}
}

@media ( max-width: 720px ) {
	.project-gallery-nav {
		display: none;
	}


}